<!DOCTYPE html>
<html lang="en">

<head>

<% include includes/head %>

<script>
function vax(meth,url,data,onLoad,onError){
var xhr=new XMLHttpRequest();
xhr.open(meth,url);
xhr.setRequestHeader("Content-Type","application/json");
xhr.onload=onLoad;
xhr.onerror=onError;
xhr.send(data);
} 

function onLoad(e){
if(this.status==200){
console.log(this.responseText);alert('ok');
}
}
function onError(e){alert('fuck');}
</script>
</head>
<body>
<div id="pagewrap">

<header id="header"> <% include includes/header %></header>
<div id="content">

<p><a href='/'>home</a> | <a href='/logout'>logout</a></p>

Username: <%= user.username %>
</br>
User_id: <%= user._id %>
</br>
User.email: <%= user.email %>
</br>
User.password: <%= user.password %>
</br>
<%= message %>
</br>
<% include admin/tasks %>

</br>


<style>
.loading{background-color:blue;}
</style>
<span id=indigo class="loading"></span>
<span id='out4'>test</span>
<span id='txarout'></span>
<span id='out'></span>


</div><!-- #content -->


<aside id="sidebar">
<% include admin/admin %>
</aside>
<footer id="footer"><% include includes/footer %></footer>
</div>
</body>
</html>