<!DOCTYPE html>
<html lang="en">

<head>
<% include head %>
<script>
function vax(meth,url,data,onLoad,onError){
var xhr=new XMLHttpRequest();
xhr.open(meth,url);
xhr.setRequestHeader("Content-Type","application/json");
xhr.onload=onLoad;
xhr.onerror=onError;
xhr.send(data);
} 

function onLoad(e){
if(this.status==200){
console.log(this.response);alert('ok');
}
}
function onError(e){alert('fuck');}
</script>
</head>
<body class="wrapper">
<header> <% include header %></header>
<main class="main-wr">

<p><a href='/'>home</a> | <a href='/logout'>logout</a></p>

Username: <%= user.username %>
</br>
User_id: <%= user._id %>
</br>
User.email: <%= user.email %>
</br>
User.password: <%= user.password %>
</br>
<%= message %>
<style>
.loading{background-color:blue;}
</style>
<span id=glob class="loading"></span></br>
<textarea id="tex" name="non-name" placeholder="type this" ></textarea>
<button id="btn-add" onclick="addData(event);">Send data</button></form>
<br>
<div id="status"><b>Here can be figcaption</b></div>
<table id="table">
<caption>Caption about Tasks</caption>
<thead>
<tr>
<th>tasks</th><th>status</th><th>edit</th><th>delete</th>
</tr>
</thead>
<tbody id="task-body">

</tbody>
</table>
</div>
<button id=bu onclick="callDB(this)">callDB</button>
</br>
<textarea id="edittex" name="non-name" placeholder="edit this" ></textarea>
<button id="btn-add" onclick="addEdit(this);">save editable</button>

<span id='out4'>test</span>
<span id='txarout'></span>
<span id='out'></span>
<button onclick="doDel(this);">POST delete</button></br>
<h3>Like a "file manager" :)</h3>
</br>
<button onclick="saveFile(this);">save this file</button>
<button onclick="showFiles(this);">show files in views</button>
</br>
<ul id=outfiles></ul>
<textarea id="filedit" style="width:400px;height:400px;" placeholder="file for edit"></textarea>


<script>
var txarout=document.getElementById('txarout');
var taskBody=document.getElementById('task-body')
var adel=document.getElementById('tex');
var editTx=document.getElementById('edittex');

txarout.textContent=editTx.value='';
showIndicator('');

function callDB(event){
showIndicator('Loading...');
vax('get','/paramorig',null,onLoad,onError);

function onLoad(e){
 showIndicator('');
var data=JSON.parse(this.response);
    taskBody.innerHTML='';
for( var key in data.task){
var datid=data._id[key];
 var str='<input data-numb="'+datid+'" class="btn-edit" type="button" value="edit" onclick="editdibk(this)"/>';
var str2='<input data-numb="'+datid+'" class="btn-del" type="button" value="delete" onclick="deleteTask(this)"/>';
//editTx.textContent=data.task[8];
if(!taskBody.childNodes[key]){
    taskBody.innerHTML+='<tr><th>'
+data.task[key]+'</th><th>'+data.completed[key]+'</th><th>'+str+'</th><th>'+str2+'</th></tr>';
} 
}
}
}




function editdibk(el){
//var eved=e.target;
//var showeved=eved.getAttribute('data-numb');
  var showeved=el.getAttribute('data-numb');
 editTx.setAttribute('data-edit',showeved);
 alert('showeved : '+showeved); 
 
//editTx.value=e.target.parentNode.parentNode.firstChild.innerHTML;
  editTx.value=el.parentNode.parentNode.firstChild.innerHTML;
}

function addEdit(e){
var errCount=0;
if(editTx.value === ''){errCount++}
if(errCount === 0){
var data={};
txarout.textContent=editTx.value;
data.name=txarout.textContent;
data._id=editTx.getAttribute('data-edit');
var data=JSON.stringify(data);
vax('post','/savedit',data,onLoad,onError);
function onLoad(e){
document.getElementById('out').innerHTML=this.response;
}
setTimeout(callDB,1000);
} else{ alert('Please fill in the field');}
}


function addData(event){
event.preventDefault();
var errCount=0;
if(adel.value ===''){errCount++;}
 if(errCount === 0){
 var data={};
 txarout.textContent=adel.value;
 data.name=txarout.textContent;
 var data=JSON.stringify(data);
 vax('post','/angaben',data,onLoad,onError);
 function onLoad(e){
 out.innerHTML=this.response;}
 setTimeout(callDB,1000);
} else{ alert("Please fill in the field");return false;}
}

function deleteTask(el){
var show=el.getAttribute('data-numb');
var confirmation = confirm('Are you sure you want to delete this task?');
if (confirmation === true) {
alert("OK, man, I'm about deleting this id of task:"+show);
vax('DELETE','/delete/'+show,null,onLoad,onError);
function onLoad(e){out.innerHTML=this.response;}
var drow=el.parentNode.parentNode.rowIndex;
    //delrow(drow);
function delrow(drow){
document.getElementById('table').deleteRow(drow);
}
delrow(drow);
}
else{ return false;}
}

//end of data table
//*********************************************************************

function doDel(event){
var xhr=new XMLHttpRequest();

xhr.open('POST', '/delta', true);
xhr.setRequestHeader('Content-type','application/json');
xhr.onload=function(e){
if(this.status ==200){

document.getElementById('out').innerHTML=this.response;
}
}
xhr.onerror=function(e){alert('fuck');console.log('fuck');};
var data={};
data.name="alik";

xhr.send(JSON.stringify(data));
}

//*******************************
//********************************
//"file manager"

var filedit=document.getElementById('filedit');

function callFile(event){

alert(event.getAttribute('data-filename'));
showIndicator('Loading...');
var bube=event.getAttribute('data-filename');
filedit.setAttribute('data-fuk',bube);
//alert(filedit.getAttribute('data-fuk'));

vax('get','/alfa/'+bube,null,onLoad,onError);

function onLoad(e){
showIndicator('');
filedit.value=this.response;}
}

function saveFile(event){
var errCount=0;
if(filedit.value === ''){errCount++}
if(errCount === 0){

var bodyfile=filedit.value;
var data={};
  data.savingfile=bodyfile;
  data.qwest=filedit.getAttribute('data-fuk');
  var data=JSON.stringify(data);

  vax('post','/savefile',data,onLoad,onError);
}
else{alert('Please fill in field');}
}

function onLoad(e){out.innerHTML=this.response;}

function showFiles(event){
showIndicator('Loading..');
vax('get','/fileslist',null,onLoad,onError);
function onLoad(e){
showIndicator('');
var data=JSON.parse(this.response);
document.getElementById('out').innerHTML=data;
for(var i=0;i<data.length;i++){
//alert(data[i]);
var li=document.createElement('li');
    li.innerHTML='<button data-filename="'+data[i]+'"     onclick="callFile(this);">'+data[i]+'</button>';
if(!outfiles.childNodes[i]){
    outfiles.appendChild(li);}
}
}
}

function filedie(el){
alert(el.getAttribute('data-filename'));
doGetDel(this);
}


function showIndicator(text){
var el=document.getElementById('glob');  
    el.innerHTML=text;}
</script>
</main>

<footer><% include footer %></footer>
</body>
</html>