<!DOCTYPE html>
<html lang="en">
<head>
<%- include head %>
</head>
<body class="wrapper">

<header>
<%- include header %>
</header>
<div class="main-wr"

<%= catalog %> :
<%= result %>
<h3>List of articles: </h3>
<ul>
<% result.forEach(function(d){ %><li><a href='/catalog/<%= d._id %>' id=<%= d._id %> ><%= d.article %></a></li><li><%=d.content %></li><li><%= d.autor %></li><li><%= d.dascription %></li><li><%= d.created %></li><li><%= d._id %></li><a href='/catalog/<%= d._id %>' >Read more...</a><% });%>

</ul>
Or <a href="/variant-2">variant-2</a> <br>
Or <a href="/variant-3">variant-3</a>
<!--[if IE 9]>
<p>Halihalo IE 9</p>
<![endif]-->
</div>




<footer>
<%- include footer %>
</footer>
</body>
</html>