

<html>
<meta charset="UTF-8">
<head>
<style>
.contrast{color:green;}
.trast{color:red;}
.yell{color:blue;}
.newfucker{color:brown;}
.btn-compl{color:red;}
.btn-del{color:brown;}
.fucking{color:green;display:}
input[type="button"],
input[type="checkbox"],
input[type="radio"] {
cursor:pointer;
 -webkit-appearance: button;
  padding: 5;
  box-sizing: border-box;
}

body{font-size:16px;}
table#myt caption {
font-size:2rem;
color:#444;
}
table#myt{
border-collapse:collapse;
font-family:Agenda-Light; font-weight:100;
background:#333;color:#fff;
text-rendering:optimizeLegibility;
border-radius:8px;
}
table#myt thead th{ font-weight:600;}
table#myt thead th,table#myt tbody td{
padding: .8rem;font-size:1.4rem;}
table#myt tbody td{
padding:.8rem;font-size:1.4rem;
color:#444;background:#eee;
}
table#myt tbody tr:not(:last-child){
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}
@media screen and (max-width:600px){
table#myt thead{display:none;}
table#myt tbody td{display:block;padding:.6rem;}
table#myt tbody tr td:first-child{background:#333;color:#fff;}
table#myt tbody td:before{
content:attr(data-th);font-weight:bold;
display:inline-block;width:6rem;
}
}

.parent {
  display: flex;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 300px; /* Или что угодно */
}

.child {
  width: 100px;  /* Или что угодно */
  height: 100px; /* Или что угодно */
  margin: auto;  /* Магия! */
}


#popup{
 display:table;
 position:fixed;top:0;left:0;
 z-index:100;
 height:100%;
width:100%;
background:rgba(240,240,240,.9);
visibility:hidden;
//-webkit-animation:animacia 1s 1s forwards;
cursor:pointer;
}
@-webkit-keyframes animacia{
from {visibility:hidden;}
to {visibility:visible;}
}
#popup figure{
display: table-cell;
vertical-align:middle;
}
#popup figure:before {
content:"Закрыть";
display:block;
padding: 0 1%;
border-width:4px 4px 0 4px;
-webkit-border-radius: 5px 5px 0 0;
text-align:right;
color:rgb(88,125,164);
}
#popup div,#popup figcaption,#popup figure:before {max-width:500px;
margin:0 auto;
border-style:solid;
border-color:rgb(88,125,164);
background:#fff;}

#popu div,#popup figcaption{
padding:1%;
cursor:default;
}
#popup figcaption{
position:relative;
border-width:0 4px 0 4px;
font-size: 150%;
text-transform:uppercase;
color:rgb(100,100,100);
}
#popup figcaption:before{
content:"Something";
color:red;
font-size:150%;
vertical-align:middle;
}
#popup div{
border-width:0 4px  4px 4px;
-webkit-border-radius:0 0 5px 5px;
}

</style>
</head>
<body>


<h1>The Test</h1>


<% if (!user) { %>

	<h2>Welcome! Please log in.</h2>
<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
<% } else { %>
<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
	<h2>Hello, <%= user.username %>.</h2>
<% } %>


<p><%=title %></p>

<h2>Loop</h2>
<ul>
<% drinks.forEach(function(drink){ %>
<li><%=drink.name %> - <%=drink.drunk %></li><% }); %>
</ul>
<div class="no" style="border:1px solid red;width:30%;margin:0">


<button onclick="gotodb(this);">Non-XHR-Call DB</button></br>

<figure style="border:2px solid green;position:relative;margin:2%;">
<form method="POST" action="/angaben">
<% if(user){ %>
<textarea id="tex" name="non-name" placeholder="type this" ></textarea>
<button id="btn-add" onclick="addData(event);">Send data</button></form>
<br>
<textarea id="edittex" name="non-name" placeholder="edit this" ></textarea>
<button id="btn-add" onclick="addEdit(event);">edit data</button>
<% } %>
</br>
<span id='out'>wlplplplp</span></br>
<span id='out4'>test</span>
<span id='txarout'></span>


<figcaption>Figcaption</figcaption>
<table id=myt>
<caption>Caption</caption>
<thead><tr><th>tasks</th><th>status</th><th>delete</th></tr></thead>
<tbody id=rs3></tbody></table>
</figure>
</div>

<% if(user) { %>
<button id="btn" onclick="fuck(this);">XHR-Call DB</button>
<% } %>

<div id="status"><b>Here can be figcaption</b></div>
<table>
<caption>Caption about Tasks</caption>
<thead>
<tr>
<th>tasks</th><th>status</th><th>edit</th>
</tr>
</thead>
<tbody id="task-body">

</tbody>
</table>
</div>
<script>
var editTx=document.getElementById('edittex');
document.getElementById('out').innerHTML="";
var dov=document.getElementById('rs3');
function gotodb(e){
 //var dov=document.getElementById('rs3');

var b="<% resul.forEach(function(d){ %><tr><td><%=d.task %></td><td><%=d.completed %></td><td><% if(user){ %><input name='<%=d._id %>' class='btn-del' type='button' value='X'/><% } %></td></tr><% });%>";

dov.innerHTML=b;

    //e.onclick=null;

//document.body.innerHTML=b;
//document.body.write=b;
var ddd=dov.getElementsByClassName('btn-del');
for(var f=0;f<ddd.length;f++){
var dd=ddd[f];
//alert(ddd[1].name);

dd.addEventListener('click',dibk,false);
}
}


function dibk(e){
var target= e && e.target || window.event.srcElement;;
var vevto=target.name;
 alert(vevto);
 // alert(target.parentNode.parentNode.rowIndex);

var xhr=new XMLHttpRequest();
    xhr.open('POST','/delete',true);
    xhr.setRequestHeader('Content-type','application/json');
    
    
xhr.onload=function(e){
if(this.status ==200){
document.getElementById('out').innerHTML=this.response;
}
};

xhr.onerror=function(e){
alert('fucking error');
console.log('fuck');
};
var data={};
    data.del=vevto;
var data=JSON.stringify(data);
xhr.send(data);

var drow=target.parentNode.parentNode.rowIndex;
    delrow(drow);
 //setTimeout(function(){alert(12);},1000);
   setTimeout(fuck,1000);
}

function delrow(drow){
document.getElementById('myt').deleteRow(drow);

}

btn.addEventListener('click',fuck,false);

function fuck(e){
var xhr=new XMLHttpRequest();


xhr.open('GET', '/paramorig', true);

xhr.onload=function(e){
if(this.status ==200){

var data=JSON.parse(this.response);
document.getElementById('task-body').innerHTML='';

for( var key in data.task){

var datid=data._id[key];
 
var str='<input data-numb="'+datid+'" class="btn-edit" type="button" value="edit"/>';
//editTx.textContent=data.task[8];
if(!document.getElementById('task-body').childNodes[key]){
document.getElementById('task-body').innerHTML+='<tr><th>'
+data.task[key]+'</th><th>'+data.completed[key]+'</th><th>'+str+'</th></tr>';
} 
}
}

var divstat=document.getElementById('task-body');
var edits=divstat.getElementsByClassName('btn-edit');
for(var i=0;i<edits.length;i++){
var edit=edits[i];
edit.addEventListener('click',editdibk,false);}
};
xhr.send();
out.innerHTML="<b>My tasks :<%=title %></b> "
}

//editTx.textContent='';
//editTx.value='';

var txarout=document.getElementById('txarout');
txarout.textContent=editTx.value='';

function editdibk(e){
var eved=e.target;
var showeved=eved.getAttribute('data-numb');
 editTx.setAttribute('data-edit',showeved);
//alert(showeved +' data.task: //'+e.target.parentNode.parentNode.textContent);
event.preventDefault();
var txarout=document.getElementById('txarout');
//txarout.textContent=
editTx.value=e.target.parentNode.parentNode.firstChild.innerHTML;


/***
var xhr=new XMLHttpRequest();

xhr.open('POST', '/edit', true);
xhr.setRequestHeader('Content-type','application/json');
editTx.textContent='';
xhr.onload=function(e){
if(this.status ==200){
var txarout=document.getElementById('txarout');
txarout.textContent=editTx.value=this.response;

}
}
xhr.onerror=function(e){alert('fuck');console.log('fuck');};
***/
var data={};
    data.editi=showeved;
var data=JSON.stringify(data);
//xhr.send(data);



}



function addData(event){
event.preventDefault();
var xhr=new XMLHttpRequest();

xhr.open('POST', '/angaben', true);
xhr.setRequestHeader('Content-type','application/json');
xhr.onload=function(e){
if(this.status ==200){
var bl=JSON.parse(this.response);
//document.getElementById('out').innerHTML=this.response;
document.getElementById('out').innerHTML=bl.name+" "+this.response;
}
}
xhr.onerror=function(e){alert('fuck');console.log('fuck');};

var adel=document.getElementById('tex');
var data={};
var txarout=document.getElementById('txarout');
txarout.textContent=adel.value;
data.name=txarout.textContent;
//data.name=htmlEscape(adel.value);
var data=JSON.stringify(data);
xhr.send(data);
setTimeout(fuck,1000);
}

function addEdit(event){
event.preventDefault();
var xhr=new XMLHttpRequest();

xhr.open('POST', '/savedit', true);
xhr.setRequestHeader('Content-type','application/json');
xhr.onload=function(e){
if(this.status ==200){

//document.getElementById('out').innerHTML=this.response;
//document.getElementById('edittex').textContent='';
document.getElementById('out').innerHTML=this.response;
}
}
xhr.onerror=function(e){alert('fuck');console.log('fuck');};

var adel=document.getElementById('tex');
var data={};
var txarout=document.getElementById('txarout');
txarout.textContent=editTx.value;
data.name=txarout.textContent;
data._id=editTx.getAttribute('data-edit');
//data.name=htmlEscape(adel.value);
var data=JSON.stringify(data);
xhr.send(data);

setTimeout(fuck,1000);
}

function htmlEscape(str){
return String(str)
.replace(/&/g,'&amp;')
.replace(/"/g,'&quot;')
.replace(/'/g,'&#39;')
.replace(/</g,'&lt;')
.replace(/>/g,'&gt;');
}
</script>

<script>
/***
var ok=document.getElementById('okosh');
    ok.onclick=show;
function show(e){}
document.getElementById('popup').onclick=okno;
function okno(e){
if(e.target.nodeName !='DIV' && e.target.nodeName !='FIGCAPTION' || e.keyCode==27){
document.getElementById('popup').style.display='none';}}
***/
</script>

</body>
</html>