

<html>
<meta charset="UTF-8">
<head>
<style>
.contrast{color:green;}
.trast{color:red;}
.yell{color:blue;}
.newfucker{color:brown;}
.btn-compl{color:red;}
.btn-del{color:brown;}
.fucking{color:green;display:}
input[type="button"],
input[type="checkbox"],
input[type="radio"] {
cursor:pointer;
 -webkit-appearance: button;
  padding: 5;
  box-sizing: border-box;
}

body{font-size:16px;}
table#myt caption {
font-size:2rem;
color:#444;
}
table#myt{
border-collapse:collapse;
font-family:Agenda-Light; font-weight:100;
background:#333;color:#fff;
text-rendering:optimizeLegibility;
border-radius:8px;
}
table#myt thead th{ font-weight:600;}
table#myt thead th,table#myt tbody td{
padding: .8rem;font-size:1.4rem;}
table#myt tbody td{
padding:.8rem;font-size:1.4rem;
color:#444;background:#eee;
}
table#myt tbody tr:not(:last-child){
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}
@media screen and (max-width:600px){
table#myt thead{display:none;}
table#myt tbody td{display:block;padding:.6rem;}
table#myt tbody tr td:first-child{background:#333;color:#fff;}
table#myt tbody td:before{
content:attr(data-th);font-weight:bold;
display:inline-block;width:6rem;
}
}</style>
</head>
<body>


<h1>The Test</h1>
<p><%=title %></p>

<h2>Loop</h2>
<ul>
<% drinks.forEach(function(drink){ %>
<li><%=drink.name %> - <%=drink.drunk %></li><% }); %>
</ul>
<form method="POST" action="/angaben">
<textarea id="tex" name="non-name" >Putin</textarea>
<button id="btn-add" onclick="addData(event);">Send data</button></form>
<span id='out'>wlplplplp</span></br>
<div id='out4'>test</span>


<button onclick="gotodb(this);">Non-XHR-Call DB</button></br>
<div id="no" style="border:1px solid red;width:50%;">
<figure style="border:2px solid green;margin:3px;">
<figcaption>Figcaption</figcaption>
<table id=myt>
<caption>Caption</caption>
<thead><tr><th>tasks</th><th>status</th><th>delete</th></tr></thead>
<tbody id=rs3></tbody></table>
</figure>
</div>

<script>
document.getElementById('out').innerHTML="";
var dov=document.getElementById('rs3');
function gotodb(e){
 //var dov=document.getElementById('rs3');

var b="<% resul.forEach(function(d){ %><tr><td><%=d.task %></td><td><%=d.done %></td><td><input name='<%=d._id %>' class='btn-del' type='button' value='X'/></td></tr><% });%>";

 //var tr=document.createElement('tr');
 //"mama <%=resul[1].name %>"+
    //tr.innerHTML=b;
    //dov.appendChild(tr);
dov.textContent=b;

    //e.onclick=null;


var ddd=dov.getElementsByClassName('btn-del');
for(var f=0;f<ddd.length;f++){
var dd=ddd[f];
//alert(ddd[1].name);

dd.addEventListener('click',dibk,false);
}
}


function dibk(e){
var target= e && e.target || window.event.srcElement;;
var vevto=target.name;
 alert(vevto);
 // alert(target.parentNode.parentNode.rowIndex);
/***
//alert('fu'+vevto);
var xhr=new XMLHttpRequest();
xhr.open('POST','/delet',true);
xhr.onerror=function(e){alert('fucking error');console.log('fuck');
};
xhr.onload=function(e){

document.getElementById('status').innerHTML=this.response;};

xhr.send(vevto);
***/
var drow=target.parentNode.parentNode.rowIndex;
    delrow(drow);
 //setTimeout(function(){alert(12);},1000);
   //setTimeout(gotodb,1000);
}

function delrow(drow){
document.getElementById('myt').deleteRow(drow);

}
</script>

<button id="btn" onclick="fuck(this);">XHR-Call DB</button>
</br></br>

<div id="status"><b>Here can be figcaption</b></div>
<table>
<caption>Caption about Tasks</caption>
<thead>
<tr>
<th>tasks</th><th>status</th><th>delete</th>
</tr>
</thead>
<tbody id="task-body">

</tbody>
</table>
<div id="container">
<caption>Tasks</caption>
<ul id="output" style="border:1px solid blue;width:50%"></ul>
 </div>
<script>

btn.addEventListener('click',fuck,false);

function fuck(e){
var xhr=new XMLHttpRequest();


xhr.open('GET', '/paramorig', true);

xhr.onload=function(e){
if(this.status ==200){

var data=JSON.parse(this.response);

for( var key in data.task){
var div=document.createElement('li');
var th=document.createElement('tr');
div.className='contrast';
th.className='fucking';
div.setAttribute('data-id',data._id[key]);

var datid=data._id[key];
var iscompl=data._id[key];
var  completed=data.completed[key]; 
var str='<input name="'+datid+'" class="btn-del" type="button" value="X"/>';
var str2='<input name='+iscompl+' class="btn-compl" type="button" value="'+completed+'" />';
div.innerHTML=data.task[key]+str2+str;

th.innerHTML='<th>'+data.task[key]+'</th><th>'+completed+'</th><th>'+str+'</th>';

if(!output.childNodes[key]){
output.appendChild(div);
}
//if(!document.getElementById('task-body').hasChildNodes()){
document.getElementById('task-body').appendChild(th);
//} 


}

out.innerHTML="<b>My tasks :<%=title %></b> "+data.task[1];
}};
xhr.onerror=function(e){alert('fuck');console.log('fuck');};


xhr.send();
}

function addData(event){
event.preventDefault();
var xhr=new XMLHttpRequest();

xhr.open('POST', '/angaben', true);
xhr.setRequestHeader('Content-type','application/json');
xhr.onload=function(e){
if(this.status ==200){
var bl=JSON.parse(this.response);
//document.getElementById('out').innerHTML=this.response;
document.getElementById('out').innerHTML=bl.name+" "+this.response;
}
}
xhr.onerror=function(e){alert('fuck');console.log('fuck');};

var adel=document.getElementById('tex');
var data={};
data.name=adel.value;
var data=JSON.stringify(data);
xhr.send(data);

}


</script>
</body>
</html>